.header {
    position: relative;
}

.header-title {
    border: 2px solid red;
    width: 100%;
    min-height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 60px;
    font-weight: 600;
}

.header-logo {
    /* border: 2px solid yellowgreen; */
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    width: 84px;
    height: 84px;
    position: absolute;
    top: 130px;
    left: 50px;
}

.header-logo>img {
    width: 100%;
    height: 100%;
    transform: scale(.7);
}