.header {
    position: relative;
}

.header-title-div {
    /* border: 2px solid red; */
    background: url("../assets/header-background.png") no-repeat center/cover;
    width: 100%;
    min-height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: 60px;
    font-weight: 600;
}

.header-logo {
    /* border: 2px solid yellowgreen; */
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    width: 84px;
    height: 84px;
    position: absolute;
    top: 130px;
    left: 50px;
}

.header-logo>img {
    width: 100%;
    height: 100%;
    transform: scale(.7);
}

.dashboard-hero {
    /* border: 2px solid red; */
    min-height: 500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-hero-header {
    /* border: 2px solid black; */
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dashboard-hero-header>div>input {
    border: 1px solid grey;
    border-radius: 2px;
    width: 250px;
    height: 30px;
    padding-inline: 10px;
    font-size: 14px;
    letter-spacing: 1.25px;
    font-weight: 600;
}

.add-btn {
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 50%;
}

.stat-circle-div {
    /* border: 2px solid green; */
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stat-circle {
    position: relative;
    width: 300px;
    display: flex;
    text-align: center;
}

.stat-circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.label-text {
    font-family: sans-serif;
    font-size: 16px;
    color: black;
    opacity: 0.8;
    font-weight: bold;
    margin-bottom: 4px;
}

.value-text {
    font-size: 15px;
    font-weight: bold;
}